*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: #ffffff;*/
    z-index: 99;
    transition: all .2s ease-in-out;
}
.nav-scroll{
    background-color: #0e1733;
    box-shadow: 0 5px 10px rgba(14, 23, 51, .5);
}
.nav-ul{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    color: #ffffff;
}
.nav-li{
    position: relative;
}
.nav-li:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00a8ff;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all .2s ease-in-out;
}
.nav-ul li:hover .nav-li{
    color: #00a8ff;
}
.nav-ul li:hover .nav-li::after{
    transform: scaleX(1);
}
.banner{
    width: 100%;
    /*background-color: #2257c9;*/
    background: url("../img/banner1.jpg") center no-repeat;
    position: relative;
    overflow: hidden;
}
.myAccount{
    padding: 8px 16px;
    /*border-radius: 4px;*/
    background-color: #00a8ff;
    transition: all .2s ease-in-out;
    border: 1px solid #00a8ff;
    color: #ffffff;
    font-size: 14px;
}
.myAccount:hover{
    color: #ffffff;
    background-color: #48c1ff;
}
.banner-title{
    color: #ffffff;
    text-align: center;
    padding-top: 350px;
}
.banner-inner{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner-inner-list{
    width: 1200px;
    height: 140px;
    background-color: #ffffff;
    /*box-shadow: 0 -8px 16px rgba(0,0,0,.3);*/
}
.banner-inner-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex: 1;
    border-right: 1px solid #00a8ff;
}
.banner-inner-list li:last-child{
    border-right: none;
}
.banner-inner-list li:hover .icon-name{
    animation: iconAnimate forwards .3s ease-in-out;
}
@keyframes iconAnimate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-8deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.banner-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 100px;
}
.banner-list-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    flex: 5;
    /*background-color: #1a8be2;*/
}
.banner-list-content-title{
    font-size: 18px;
    color: #00a8ff;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}
.banner-list-content-extra{
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
}
.icon-name{
    width: 72px;
    height: 72px;
}
.title-large{
    font-size: 48px;
    font-weight: normal;
    margin: 30px 15px;
    letter-spacing: 4px;
    position: relative;
}
.title-large:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(98, 172, 255, 0.5);
}
.title-middle{
    font-size: 38px;
    font-weight: normal;
    margin: 30px 15px;
    letter-spacing: 4px;
}
.title-little{
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 30px 0;
}
.title-transform{
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.title-active{
    transform: translateY(0);
    opacity: 1;
}

.loading{
    width: 48px;
    height: 48px;
    animation: loading infinite 1s;
    /*transform: rotate(60deg);*/
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.loading path{
    fill: #6200ee;
}
@keyframes loading {
    from{
        transform: rotate(60deg);
    }
    to{
        transform: rotate(420deg);
    }
}