*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333333;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
}
.nav-ul{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    color: #ffffff;
}
.nav-li{
    position: relative;
}
.nav-li:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00a8ff;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all .2s ease-in-out;
}
.nav-ul li:hover .nav-li{
    color: #00a8ff;
}
.nav-ul li:hover .nav-li::after{
    transform: scaleX(1);
}
.banner{
    width: 100%;
    /*background-color: #2257c9;*/
    background: url("../img/banner1.jpg") center no-repeat;
    position: relative;
}
.myAccount{
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ffffff;
    transition: all .2s ease-in-out;
    border: 1px solid #00a8ff;
    color: #00a8ff;
    font-size: 14px;
}
.myAccount:hover{
    color: #ffffff;
    background-color: #00a8ff;
}
.banner-title{
    color: #ffffff;
    text-align: center;
    padding-top: 350px;
}
.banner-inner{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner-inner-list{
    width: 1200px;
    height: 140px;
    background-color: #ffffff;
}
.banner-inner-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex: 1;
    border-right: 1px solid #00a8ff;
}
.banner-inner-list li:last-child{
    border-right: none;
}

.banner-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 100px;
}
.banner-list-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    flex: 5;
    /*background-color: #1a8be2;*/
}
.banner-list-content-title{
    font-size: 18px;
    color: #00a8ff;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}
.banner-list-content-extra{
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
}

.title-large{
    font-size: 48px;
    font-weight: normal;
    margin: 30px 15px;
    letter-spacing: 4px;
    position: relative;
}
.title-large:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(98, 172, 255, 0.5);
}
.title-middle{
    font-size: 38px;
    font-weight: normal;
    margin: 30px 15px;
    letter-spacing: 4px;
}
.title-little{
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 30px 0;
}