*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    /*background-color: #ffffff;*/
    z-index: 99;
    transition: all .2s ease-in-out;
}
.nav-scroll{
    background-color: #0e1733;
    box-shadow: 0 5px 10px rgba(14, 23, 51, .5);
}
.nav-ul{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    color: #ffffff;
}
.nav-li{
    position: relative;
}
.nav-li:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00a8ff;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: all .2s ease-in-out;
}
.nav-ul li:hover .nav-li{
    color: #00a8ff;
}
.nav-ul li:hover .nav-li::after{
    transform: scaleX(1);
}
.banner{
    width: 100%;
    /*background-color: #2257c9;*/
    /*background: url("../img/banner1.jpg") center no-repeat;*/
    position: relative;
    overflow: hidden;
}
.banner-img{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s ease-in-out;
}
.banner-1{
    background-color: #999999;
    opacity: 1;
}
.banner-2{
    /*background-color: #333333;*/
    opacity: 0;
}
.myAccount{
    padding: 8px 24px;
    /*border-radius: 4px;*/
    background-color: #00a8ff;
    transition: all .2s ease-in-out;
    border: 1px solid #00a8ff;
    color: #ffffff;
    font-size: 14px;
}
.myAccount:hover{
    color: #ffffff;
    background-color: #48c1ff;
}
.banner-title{
    color: #ffffff;
    text-align: center;
    padding-top: 350px;
}
.banner-inner{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.banner-inner-list{
    width: 1200px;
    height: 140px;
    background-color: #f7fcff;
    /*box-shadow: 0 -8px 16px rgba(0,0,0,.3);*/
}
.banner-inner-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    flex: 1;
    border-right: 1px solid #00a8ff;
}
.banner-inner-list li:last-child{
    border-right: none;
}
.banner-inner-list li:hover .icon-name{
    animation: iconAnimate forwards .3s ease-in-out;
}
@keyframes iconAnimate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-8deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.banner-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    height: 100px;
}
.banner-list-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100px;
    flex: 5;
    /*background-color: #1a8be2;*/
}
.banner-list-content-title{
    font-size: 18px;
    color: #00a8ff;
    margin-bottom: 10px;
    /*font-weight: bold;*/
}
.banner-list-content-extra{
    font-size: 12px;
    color: #666666;
    margin-bottom: 5px;
}
.icon-name{
    width: 72px;
    height: 72px;
}
.title-large{
    font-size: 48px;
    font-weight: normal;
    margin: 30px 15px;
    letter-spacing: 4px;
    position: relative;
}
.title-large:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: rgba(98, 172, 255, 0.5);
}
.title-middle{
    font-size: 38px;
    font-weight: normal;
    margin: 30px 15px;
    letter-spacing: 4px;
}
.title-little{
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 4px;
    margin: 30px 0;
}
.title-transform{
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.title-active{
    transform: translateY(0);
    opacity: 1;
}

.loading{
    width: 48px;
    height: 48px;
    animation: loading infinite 1s;
    /*transform: rotate(60deg);*/
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.loading path{
    fill: #6200ee;
}
@keyframes loading {
    from{
        transform: rotate(60deg);
    }
    to{
        transform: rotate(420deg);
    }
}

.about-div{
    padding: 96px 0 64px;
    background-color: #f7fcff;
}
.about{
    width: 1200px;
    margin: auto;
}
.about-img{
    width: 100%;
    height: 500px;
    padding: 0 0 0 100px;
}
.invest-title{
    padding: 20px 0;
    width: 1200px;
    /*background-color: #f8f8f8;*/
    font-size: 24px;
    font-weight: normal;
    color: #333333;
}
.invest-list{
    width: 1200px;
    /*border-top: 1px solid #a5e0ff;*/
    /*height: 600px*/
}
.invest-list .invest-list-active{
    opacity: 1;
    transform: translateY(0) scale(1);
}
.invest-list li{
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-bottom: 1px solid #c6ebff;*/
    border: 1px solid #c4ebff;
    margin: 20px 0;
    /*border-top: none;*/
    background-color: #f7fcff;
    transition: all .3s ease-in-out;
    /*opacity: 0;*/
    /*transform: translateY(20px) scale(1.02);*/
    opacity: 1;
    transform: translateY(0) scale(1);
}
.invest-list li:hover{
    /*box-shadow: inset 0 0 12px rgba(18, 153, 223, 0.2);*/
    background-color: #e6f6ff;
    transform: scale(1.005);
}
.invest-list-title{
    color: #00a8ff;
    /* font-weight: bold; */
    font-size: 16px;
}
.invest-list-number{
    color: #00a8ff;
    /*font-weight: bold;*/
    font-size: 32px;
}
.invest-list li .click-btn{
    padding: 10px 20px;
    background-color: #00a8ff;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
}
.progress{
    width: 200px;
    height: 6px;
    background-color: #1299df;
}
.progress-content{
    color: #999999;
    font-size: 14px;
}

.footer-div{
    height: 120px;
    background-color: #333333;
    font-size: 12px;
    color: #999999;
}

.about-btn{
    /*border: 1px solid #00a8ff;*/
    background: #00a8ff;
    width: 120px;
    height: 40px;
    color: #ffffff;
    transition: all .2s ease-in-out;
    font-size: 12px;
    transform-origin: 0 0;
    position: relative;
}
.about-btn::before{
    content: '';
    position: absolute;
    bottom:0;
    left: 0;
    background: #48c1ff;
    width: 100%;
    height: 40px;
    /*transform: rotateX(90deg);*/
    transform-origin: 0 0;
    transition: all .2s ease-in-out;
    transform: scaleX(0);
}
.about-btn-word{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 40px;
}
.about-btn-hover:hover .about-btn::before{
    transform: scaleX(1);
    /*transform: rotateX(90deg);*/
}
.about-btn:hover .about-btn::after{
    /*transform: rotateX(0deg);*/
}

.three-d {

    /* 设置3D舞台布景 */
    perspective:200px;

    /*设置3D舞台布景过渡效果*/
    transition:all 0.7s linear;
    position: relative;
    color: #fff;
    display: block;
    text-decoration: none;
    /*调用本地字体*/
    font-family: 'sansationregular';
    font-smoothing: antialiased;
    text-transform: capitalize;
    overflow: visible;
    line-height: 20px;
    font-size: 20px;
    padding: 15px 30px 15px 31px;
}

.three-d:not(.active):hover {
    cursor: pointer;
}

/*给不是当前状态的3D舞台的悬浮与聚焦状态设置变形效果*/
.three-d:not(.active):hover .three-d-box,
.three-d:not(.active):focus .three-d-box {
    transform:translateZ(-25px) rotateX(90deg);
}

.three-d-box {
    /*给3D舞台中“.three-d-box”设置过渡与变形效果*/
    transform:translateZ(-25px);
    transition:all .3s ease-out;
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

/*给导航设置3D前，与3D后变形效果*/
.front {
    transform:rotateX(0deg) translateZ(25px);
    background: #00a8ff;
}

.back {
    transform:rotateX(-90deg) translateZ(25px);
    color: #FFE7C4;
    background: #48c1ff;
}

.front, .back {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    padding: 15px 30px 15px 31px;
    color: white;
    pointer-events: none;
    box-sizing: border-box;
}